<style>
	h2 {
		font-size: 22px !important;
		text-align: center;
		color: black;
	}
	.bid_table_td {
		position: relative;
		height: 40px;
		left: 10px;
	}
	.move-up {
		height: 20px;
	}
	.move-down {
		height: 20px;
	}
	.btn span {
		position: relative;
		bottom: 5px;
	}
	.dragging {
		color: white !important;
		background-color: #337AB7 !important;
	}
	div.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
	}
	#sort tr {
		cursor: move;
	}
</style>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script type="text/javascript">
	$(init);

	var old_index;
	function init() {
		var fixHelperModified = function(e, tr) {
			tr.addClass("dragging");
			old_index = $("#sort tr").index(tr);
			var $originals = tr.children();
			var $helper = tr.clone();
			$helper.children().each(function(index) {
					$(this).width($originals.eq(index).width())
			});
			return $helper;
		},
			updateIndex = function(e, ui) {
				$('td.index', ui.item.parent()).each(function (i) {
						//$(this).html(i + 1);
						$tr = $(this).parent();
						if ($tr.hasClass("dragging")) {
							$tr.fadeIn(100).fadeOut(300).fadeIn(300);
							$tr.removeClass("dragging");
							var new_priority = i + 1;
							edit_bid_priority(new_priority);
						}
				});
			};
			
		function edit_bid_priority(new_priority) {		
			var form_priority_name = "#edit_bid_form_priority_" + old_index;
			var form_submit_name = "#edit_bid_form_submit_" + old_index;
			$(form_priority_name).val(new_priority);
			$(form_submit_name).click();
		}

		$("#sort tbody").sortable({
				helper: fixHelperModified,
				stop: updateIndex
		}).disableSelection();
	} 
</script>
<ul class="nav nav-pills">
	<li role="presentation" class="active"><%= link_to 'Home', students_path() + '/' + current_student.id.to_s %></a></li>
	<li role="presentation"><a href="../teams" data-no-turbolink="true">Browse Teams</a></li>
</ul><br />

<% current_team = Team.find_by_id(current_student.team_id) %>
<div class="row">
	<div class="col col-md-7">
		<div class="pull-left">
			<div class="panel panel-primary" id="available_projects_panel">
				<div class="panel-heading">
					<div class="panel-heading">
						<h2 class="panel-title">Available Projects</h2>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-striped" width="100%">
						<thead>
							<tr>
								<th>Project Name</th>
								<th>Sponsor</th>
								<th width="10%">No. of Current Bids</th>
								<th>View Details</th>
								<th>Place Bid</th>
							</tr>
						</thead>
						<tbody>
						<% for i in 1..10 %>
							<tr>
								<% project_name = "Random Name " + i.to_s %>
								<td><%= project_name %></td>
								<td>Random Sponsor <%= i %></td>
								<td><%= Bid.where(:project_id => i).length %></td>
								<td><a href="#">View</a></td>
								<td>
								<% preexisting_bid = Bid.where(project_id: i, team_id: current_student.team_id).first %>
								<% if preexisting_bid.nil? %>
									<button 
										type="button" 
										class="btn btn-sm btn-default"
										data-toggle="modal" 
										data-target="#place-bid-modal"
										onclick="place_bid('<%= project_name.html_safe %>', '<%= i.to_s.html_safe %>');">
										Bid
									</button>
								<% else %>
									Bid Placed <strong>*</strong>
								<% end %>
								</td>
							</tr>
						<% end %>
						</tbody>
					</table>
					<hr />
					<p><strong>*</strong> One of your team members has already bid on this project.</p>	
				</div>
			</div>
		</div>
	</div>
	<div class="col col-md-5">
		<div class="pull-left">
			<div class="panel panel-default" id="team_bids_panel">
				<div class="panel-heading">
					<div class="panel-heading">
						<h2 class="panel-title"><%= current_team.name %>&rsquo;s Active Bids</h2>
					</div>
				</div>
				<div class="panel-body">
					<div id="bid_div_wrapper"> 
						<table id="sort" class="table table-striped grid" width="100%" style="table-layout: fixed">
							<thead>
								<tr>
									<th class="index" width="15%">Priority</th>
									<th width="25%">Project Name</th>
									<th width="25%">Sponsor</th>
									<th width="15%">Edit / Delete</th>
								</tr>
							</thead>
							<tbody>
							<% bid_count = 1 %>
							<% current_team.bids.order("priority").each do |bid| %>
								<% modal_id = "edit_bid_modal_" + bid_count.to_s.html_safe %>
								<% modal_label = "edit_bid_modal_label_" + bid_count.to_s.html_safe %>
								<tr>
									<td class="index"><div class="scrollable"><%= bid.priority %></div></td>
									<td><div class="scrollable">Project id: <%= bid.project_id %></div></td>
									<td><div class="scrollable">Random Sponsor <%= bid_count %></div></td>
									<td>
										<div class="row" style="width: 100%">
											<div class="col col-md-6" style="width: 50%">
												<button type="button" class="btn btn-sm btn-warning" data-toggle="modal" 
													data-target="#<%= modal_id %>" style="width: 30px">E</button>
											</div>
											<div class="col col-md-6" style="width: 50%">
												<%= button_to "D", bid, :method=> :delete, :class=> "btn btn-sm btn-danger", :style => "width: 30px", 
													:confirm => "Are you sure you want to delete this bid?" %>
											</div>
									</td>
								</tr>
								<%= form_for bid, class: "edit_bid" do |f| %>
									<%= f.hidden_field :priority, class: "edit_bid_form_priority", id: "edit_bid_form_priority_" + bid_count.to_s %>
									<div style="display: none">
										<%= f.submit "Submit", id: "edit_bid_form_submit_" + bid_count.to_s %>
									</div>
								<% end %>
								
								<div class="modal fade" id="<%= modal_id %>" tabindex="-1" role="dialog" aria-labelledby="<%= modal_label %>" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title">Edit Bid for Project id: <% bid.project_id %></h4>
											</div>
												<%= form_for bid do |f| %>
												<div class="modal-body">
													<div class="well">
														<p>Update your bid information below. Remember to list any qualifications and experience 
															you believe will help your group in being assigned to this project.
														</p>
													</div>
													<%= f.text_area :bid_text, :size => "40x10", :class => "form-control", :value => bid.bid_text %><br />
												</div>
												<div class="modal-footer">
													<div class="row">
														<div class="col col-md-3">
															<%= f.submit "Update Bid", :class => "btn btn-warning" %>
														</div>
														<div class="col col-md-9">
															<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
														</div>
													</div>
												</div>
												<% end %>
										</div>
									</div>
								</div>
								
								<% bid_count = bid_count + 1 %>
							<% end %>
							</tbody>
						</table>
						<hr />
						<p>Drag-n-drop project bids to change their priorities.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="place-bid-modal" tabindex="-1" role="dialog" aria-labelledby="place-bid-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Place Bid on <span id="bid_modal_project_name"></span></h4>
      </div>
				<%= form_for Bid.new do |f| %>
				<div class="modal-body">
					<%= f.hidden_field :project_id, id: "bid_form_project_id" %>
					<%= f.hidden_field :team_id, value: current_student.team_id %>
					<%= f.hidden_field :priority, value: (Team.find(current_student.team_id).bids.length + 1) %>
					<div class="well">
						<p>Briefly explain why you and your group are interested in working on this project.
							List any qualifications and experience you believe will help your group in being assigned to this project.
						</p>
					</div>
					<%= f.text_area :bid_text, :size => "40x10", :class => "form-control" %><br />
				</div>
				<div class="modal-footer">
					<div class="row">
						<div class="col col-md-3">
							<%= f.submit "Place Bid", :class => "btn btn-primary" %>
						</div>
						<div class="col col-md-9">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
				<% end %>
    </div>
  </div>
</div>

<script>
	document.getElementById("available_projects_panel").addEventListener("mouseover", function() {
		var otherPanel = document.getElementById("team_bids_panel");
		if (!this.classList.contains('panel-primary')) { 
			if (this.classList.contains('panel-default')) {
				this.classList.remove('panel-default');
			}
			this.classList.add('panel-primary');
			if (otherPanel.classList.contains('panel-primary')) {
				otherPanel.classList.remove('panel-primary');
				otherPanel.classList.add('panel-default');
			}
		}
	});

	document.getElementById("team_bids_panel").addEventListener("mouseover", function() {
		var otherPanel = document.getElementById("available_projects_panel");
		if (!this.classList.contains('panel-primary')) { 
			if (this.classList.contains('panel-default')) {
				this.classList.remove('panel-default');
			}
			this.classList.add('panel-primary');
			if (otherPanel.classList.contains('panel-primary')) {
				otherPanel.classList.remove('panel-primary');
				otherPanel.classList.add('panel-default');
			}
		}
	});

	function place_bid(project_name, project_id) {
		$("#bid_form_project_id").val(project_id);
		$("#bid_modal_project_name").text(project_name);
	}
	
	function edit_bid(project_name, project_id) {
		$("#bid_form_project_id").val(project_id);
		$("#bid_modal_project_name").text(project_name);
	}
</script>
		
