<style>
	a.form_btn {
		color: white !important;
	}
</style>

<h1>Listing professors</h1>

<ul class="nav nav-pills">
  <li role="presentation" class="active"><%= link_to 'Home', root_url %></li>
	<li role="presentation">
		<a href="#" data-toggle="modal" data-target="#new_professor_account_modal">Create New Account</a>
	</li>
</ul><br />

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">
      Professors
    </div>
  </div>
  <div class="panel-body">
    <table class="table" style="border: 1px solid rgb(221, 221, 221)">
      <thead>
      <tr>
        <th>Name</th>
        <th>Class ID</th>
        <th>Select</th>
        <th>Delete</th>
      </tr>
      </thead>

      <tbody>
      <% @professors.each do |professor| %>
          <tr>
            <td><%= professor.first_name + ' ' + professor.last_name %></td>
            <td><%= professor.class_id %></td>
            <td><%= link_to 'Choose', professor %></td>
            <td><%= link_to 'Delete', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<div class="modal fade" id="new_professor_account_modal" tabindex="-1" role="dialog" 
	aria-labelledby="new_professor_account_modal_label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Create New Professor Account</h4>
			</div>
				<%= form_for Professor.new do |f| %>
				<div class="modal-body">
					<%= f.label :first_name, "First Name" %>
					<%= f.text_field :first_name, :value => "", :id => "first_name_field" %>
					<%= f.label :first_name, "Last Name"%>
					<%= f.text_field :last_name, :value => "", :id => "last_name_field" %>
					<%= f.label :class, "Class" %>
					<%= f.text_field :class, :value => "", :id => "class_field"  %>
				</div>
				<div class="modal-footer">
					<div class="row">
						<div class="col col-md-4">
							<a href="#" role="button" class="btn btn-primary form_btn" onclick="verify_form();">Create New Account</a>
						</div>
						<div class="col col-md-8">
							<a href="#" role="button" class="btn btn-danger form_btn" data-dismiss="modal">Close</a>
						</div>
					</div>
				</div>
				<div style="display: none">
					<%= f.submit "", :id => "form_submit" %>
				</div>
				<% end %>
		</div>
	</div>
</div>

<script>
	function verify_form() {
		var first_name_field = document.getElementById("first_name_field");
		var last_name_field = document.getElementById("last_name_field");
		var class_field = document.getElementById("class_field");
		if (first_name_field.value == "") {
			alert("First name must not be left blank.");
		} else if (last_name_field.value == "") {
			alert("Last name must not be left blank.");
		} else if (class_field.value == "") {
			alert("Class field must not be left blank.");
		} else {
			document.getElementById("form_submit").click();
		}
	}
</script>